server {
  listen       80;
  listen  [::]:80;

  gzip on;
  gzip_vary on;
  gzip_proxied any;
  gzip_comp_level 8;
  gunzip on;
  gzip_types application/javascript image/* text/css;
  gzip_disable "MSIE [1-6]\.";

  root /home/node/app;
  error_page 404 /404.html;
  rewrite ^/(.*)/$ /$1 permanent;
  try_files $uri $uri.html $uri/index.html =404;
}
